/* Preserve native progress IDs while showing the classic bar. */
#channel_and_name #fancy_progress_container
{
    visibility: collapse;
}

#channel_and_name #basic_progress_container
{
    visibility: visible;
}

#ClassicUrnInfo
{
    horizontal-align: center;
    flow-children: down;
    visibility: collapse;
}

CitadelHudModifiers_Entry.MODIFIER_STATE_HOLDING_IDOL #ClassicUrnInfo
{
    visibility: visible;
}

#ClassicUrnInfo Label
{
    font-size: 18px;
}
