@import url("s2r://panorama/styles/base/unit_status.vcss_c");

#name
{
	visibility: visible;
	opacity: 1;
	width: 100%;
	max-width: 1600px;
	height: fit-children;
	font-size: 180px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: sans;
	text-transform: uppercase;
	vertical-align: top;
	horizontal-align: center;
	text-shadow: 0px 0px 4px 10.0 #000000, 2px 4px 4px 3.0 #00000080;
	z-index: 50;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: clip;
}

.player #name
{
	visibility: visible;
}

.player.beingSpectatedInEye #name
{
	visibility: collapse;
}

.enemy #name
{
	color: #fd4949;
}

#NameVoiceContainer
{
	flow-children: right;
	horizontal-align: center;
	height: fit-children;
	overflow: noclip;
	width: 100%;
	margin-bottom: 15px;
}

.health_hidden #NameVoiceContainer
{
	margin-bottom: 40px;
}